/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-Sep-2020, 16:46:37
    Author     : CongCM
*/

.body {
  margin: 0;
  padding: 0;
}
div#carouselId {
  margin-left: auto;
  top: 150px;
  display: table;
}

.carousel-item img {
  width: 240px;
  height: 355px;
}
span.carousel-control-next-icon:hover {
  transform: scale(2);
  color: white !important;
}

span.carousel-control-next-icon {
  transition: transform 0.2s;
}
